# Python venv
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# System files
.DS_Store

# Kaggle inference dataset
test_unlabeled.pkl

# Saved models
saved_models/

# Saved predictions
saved_predictions/